# taken from https://github.com/harvardnlp/annotated-transformer/blob/master/requirements.txt
--find-links https://download.pytorch.org/whl/torch_stable.html

torch
torchdata
torchmetrics
numerize
transformers
datasets
scikit-learn
matplotlib
dotted-dict