# taken from https://github.com/harvardnlp/annotated-transformer/blob/master/requirements.txt
--find-links https://download.pytorch.org/whl/torch_stable.html

torch==1.11.0+cu113
torchdata==0.3.0
torchmetrics
altair==4.1
jupytext==1.13
flake8
black
numerize
transformers
datasets
scikit-learn
matplotlib
dotted-dict